// Hero carousel

.carousel-control-next,
.carousel-control-prev {
    color: rgba(0,0,0,0.6) !important;
    transition: all 0.2s ease;
    width: 8%;
}

.carousel-control-next:hover,
.carousel-control-next:focus,
.carousel-control-prev:hover,
.carousel-control-prev:focus {
    color: rgba(0,0,0,0.9) !important;
}

#heroCarouselHome {
    font-family: "Poppins";

    .hero-carousel-background {
        background-image: url("../img/home/diagonal-mobile.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 101%;
        padding: 24px 12px 28%;
    }

    h1 {
        font-size: 38px;
        line-height: 40px;
    }
    p {
        font-size: 16px;
        line-height: 26px;
    }

    @include media-breakpoint-up(md) {
        .hero-carousel-background {
            background-image: url("../img/home/diagonal-tablet.svg");
            padding: 72px 24px 15%;
        }
        h1 {
            font-size: 54px;
            line-height: 60px;
            // max-width: ;
        }
        p {
            font-size: 20px;
            line-height: 28px;
        }
    }
    @include media-breakpoint-up(lg) {
        .hero-carousel-background {
            background-image: url("../img/home/diagonal-desktop.svg");
            padding: 0 5% 4% 4%;
            display: flex;
            align-items: center;
            justify-content: center;
        }        
        h1 {
            font-size: 58px;
            font-size: 5.5vw;
            line-height: 60px;
            line-height: 5.7vw;
        }
        p {
            font-size: 20px;
            font-size: 1.56vw;
        }
    }
    @include media-breakpoint-up(xxl) {
        h1 {
            font-size: 74px;
            line-height: 78px;
            max-width: 380px;
        }
        p {
            font-size: 26px;
            line-height: 36px;
            max-width: 350px;
        }
    }
}


// Logo panel
.logo-panel {
    div {
        flex: 1 1 50%;
        max-width: 50%;
    }

    @include media-breakpoint-up(md) { 
        div {
            flex: 1 1 20%;
        }
    }
}


// Pill tabs
#content-home {
    .button-group {
        .nav-item {
            width: 50%;
        }
        .btn.btn-outline {
            border: 1px solid $red;
        }
    }
}


// Roadmap
.roadmap {
    background: $black;
    background: -moz-linear-gradient(bottom, black 55%, white 55%);
    background: -webkit-linear-gradient(bottom, black 55%, white 55%);
    background: linear-gradient(to bottom, black 55%, white 55%);
}


// Free kit panel
#content-home {
    .free-kit-panel {
        .btn {
            width: 100%;
        }

        @include media-breakpoint-up(md) {
            .btn {
                width: initial;
            }
            .border-right-gray-200 {
                border-right: 1px solid #D9D9D9;
            }
        }
    }
}





