.guidelines-modal {
    .bg-light-yellow {
        background-color: #FDF7BE;
    }
}

.form-modal {
    .modal-content {
        .modal-header {
            border-bottom: 0;
        }

        .modal-body {
            box-shadow: 0 3px 6px rgba(0,0,0,.16);

            label {
                margin-bottom: 6px;
                font-size: 18px;
            }
            .form-control {
                border-radius: 8px;
            }
            .form-group {
                margin-bottom: 12px;
            }
            p {
                font-size: 18px;
            }
        }
    }
}

#commitToTestModal {
    .modal-content {
        background-color: #bdc5db;
    }
}

#freeKitModal {
    .modal-content {
        background-color: $red;
    }
}

#resourcesModal {
    .modal-content {
        background-color: $yellow;
    }
}