body {
    padding-top: 60px;

    @include media-breakpoint-up(lg) { 
        padding-top: calc(4.5rem - 1px);
    }
}

header {
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.96) !important;
}


// colors
.navbar-light {
    .nav-link {
        color: $black !important;
        transition: color 0.2s;

        &:hover,
        &.active {
            color: $red !important;
        }
    }

    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
        background-color: $black;
    }
}


// spacing
.main-nav {
    .navbar-brand {
        img {
            max-height: 40px;
            width: auto;
        }
    }

    @include media-breakpoint-down(md) {
        font-size: 1.1rem;

        padding-top: .5rem;
        padding-bottom: .5rem;

        .navbar-nav {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .navbar-brand {
            img {
                max-height: 34px;
                width: auto;
            }
        }

        .nav-item {
            padding-left: 0;

            & + .nav-item {
                padding-top: .25rem;
                padding-bottom: .25rem;
            }

            &:last-of-type {
                margin-top: 12px;
            }
        }

        .nav-link {
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
        }

        .btn-primary.btn-sm {
            font-size: 1.05rem;
        }
    }


    @include media-breakpoint-up(lg) {
        font-size: .66rem;
        font-size: 1.16vw;

        .btn-primary.btn-sm {
            font-size: .66rem;
            font-size: 1.16vw;
        }

        .nav-item {
            padding-left: 1rem;
            padding-top: 1.3rem;
            padding-bottom: 1.3rem;
            align-self: center;
        }

        .nav-link {
            display: inline-block;
            letter-spacing: 1.6px;
            transition: border-color 0.2s linear;
        }
    }

    @include media-breakpoint-up(xl) {
        font-size: 14px;
        transition: font-size 0.25s linear;

        .btn-primary.btn-sm {
            font-size: 14px;
        }

        .nav-item {
            padding-left: 1.65rem;
        }
    }
}