body {
    padding-top: calc(5rem - 1px);
}

header {
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.96) !important;  
}


// colors
.navbar-light {
    .nav-link {
        color: $black !important;
        transition: color 0.2s;

        &:hover,
        &.active {
            color: $danger !important;
        }
    }

    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
        background-color: $black;
    }
}


// spacing
.main-nav {

    .navbar-brand {
        img {
            max-height: 40px;
            width: auto;
        }
    }

    @include media-breakpoint-down(md) {
        // font-size: 1rem;

        padding-top: .5rem;
        padding-bottom: .5rem;

        .nav-item {
            padding-left: 0;
        }

        .nav-item + .nav-item {
            border-top: 1px solid $gray-100;
            padding-top: .25rem;
            padding-bottom: .25rem;
        }

        .nav-link {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }

        .btn-primary.btn-sm {
            font-size: 1rem;
        }
    }


    @include media-breakpoint-up(lg) {

        font-size: .66rem;
        font-size: 1.16vw;

        .btn-primary.btn-sm {
            font-size: .66rem;
            font-size: 1.16vw;
        }

        .nav-item {
            padding-left: 1rem;

            padding-top: 1.3rem;
            padding-bottom: 1.3rem;
            align-self: center;
        }

        .nav-link {
            display: inline-block;
            letter-spacing: 1.6px;
            transition: border-color 0.2s linear;
        }

    }

    @include media-breakpoint-up(xl) {

        transition: font-size 0.25s linear;

        font-size: .72rem;
        font-size: 1.2vw;

        .btn-primary.btn-sm {
            font-size: .72rem;
            font-size: 1.2vw;
        }

        .nav-item {
            padding-left: 1.65rem;
        }

    }

    @include media-breakpoint-up(xxl) {
        font-size: .88rem;

        .btn-primary.btn-sm {
            font-size: .88rem;
        }

        .nav-item {
            padding-left: 2rem;
        }

    }

    @include media-breakpoint-down(md) {
        font-size: 1rem;

        padding-top: .5rem;
        padding-bottom: .5rem;

        .nav-item {
            padding-left: 0;
        }

        .nav-item + .nav-item {
            border-top: 1px solid $gray-100;
            padding-top: .25rem;
            padding-bottom: .25rem;
        }

        .nav-link {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }

        .btn-primary.btn-sm {
            font-size: 1rem;
        }
    }
}
