// Place your own CSS or SCSS below this line.

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    font-size: 14px;
    line-height: 24px;

    .social-media-link {
        svg {
            fill: $white;
            transition: fill 0.2s ease;
        }
        &:hover svg {
            fill: #287BC2;
        }
    }
}

.number-big {
    font-size: 80px;
    font-family: $font-family-sans-serif;
    letter-spacing: -5px;

    @include media-breakpoint-up(sm) {
        font-size: 90px;
    }

    &-70 {
        font-size: 70px;
        font-family: $font-family-sans-serif;
    }
}

.diagonal-hero {
    @include media-breakpoint-up(xxl) {
        &-text {
            max-width: 1000px;
            margin: 0 auto;
        }
    }
}

.biomarker-table {
    border: 2px solid $yellow;
}

.callout-border-left {
    border-left: 10px solid $red;
    padding-left: 26px;

    @include media-breakpoint-up(md) {
        padding-left: 32px;
    }
}


.survival-table-desktop {
    font-size: 18px;
    margin-top: 68px;

    thead tr {
        background-color: $yellow;
        th {
            font-weight: normal;
            text-align: center;
            padding: 12px;

            &:first-of-type {
                width: 30%;
            }
        }
    }
    tbody {
        tr {
            &:last-of-type {
                background-color: #FDF7BD;
            }

            td {
                padding: 12px;
            }
        }
    }
}

.survival-table-mobile {
    font-size: 16px;

    thead tr {
        background-color: $yellow;
        th {
            font-weight: normal;
            padding: 12px;

            &:first-of-type {
                // width: 30%;
            }
        }
    }
    tbody {
        tr {
            &:last-of-type {
                background-color: #FDF7BD;
            }

            td {
                padding: 12px;
            }
        }
    }
}


.data-card {
    background-color: $white;
    box-shadow: 0 3px 6px rgba(0,0,0,.15);

    &-header {
        overflow: hidden;
        background-color: $yellow;
        background-image: url("../img/data/triangle.svg");
        background-repeat: no-repeat;
        background-position: bottom right;

        padding: 36px 24px 24px;

        @include media-breakpoint-up(md) {
            min-height: unset;
            padding: 52px 32px 0;
            height: 165px;
        }

        @include media-breakpoint-up(lg) {
            padding: 52px 32px 0;
            height: 190px;
        }
        
        h4 {
            font-size: 28px !important;
        }
    }

    &-body {
        overflow: hidden;
        min-height: 200px;
        padding: 24px 24px;

        @include media-breakpoint-up(sm) {
            min-height: unset;
            padding: 30px 24px;
        }

        @include media-breakpoint-up(md) {
            padding: 24px 32px 0;
            height: 270px;
        }

        @include media-breakpoint-up(lg) {
            padding: 24px 32px 0;
            height: 415px;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}






















