// Place your own CSS or SCSS below this line.

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    font-size: 14px;
    line-height: 24px;

    .social-media-link {
        svg {
            fill: $white;
            transition: fill 0.2s ease;
        }
        &:hover svg {
            fill: #287BC2;
        }
    }
}

.number-big {
    font-size: 80px;
    font-family: $font-family-sans-serif;
    letter-spacing: -5px;

    @include media-breakpoint-up(sm) {
        font-size: 90px;
    }

    &-70 {
        font-size: 70px;
        font-family: $font-family-sans-serif;
    }
}

.diagonal-hero {
    @include media-breakpoint-up(xxl) {
        &-text {
            max-width: 1000px;
            margin: 0 auto;
        }
    }
}

.biomarker-table {
    border: 2px solid $yellow;
}

.callout-border-left {
    border-left: 10px solid $red;
    padding-left: 26px;

    @include media-breakpoint-up(md) {
        padding-left: 32px;
    }
}


