{% extends "layouts/default.njk" %}
{% set title = "Colorectal Cancer" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-white', 'navbar-light', 'colo')}}

    <main id="content">

        <div class="diagonal-hero bg-orange text-dark">
            <div class="row no-gutters">
                <div class="col-lg-5">
					<picture>
                        <source srcset="assets/img/shared/hero-desktop-tall.svg"
                            media="(min-width: 992px)">
						<source srcset="assets/img/shared/hero-tablet.svg"
                            media="(min-width: 768px)">                            
                        <source srcset="assets/img/shared/hero-mobile.svg"
                            media="(min-width: 0px)">
                        <img src="assets/img/shared/hero-desktop-tall.svg" alt="" class="w-100" />
                    </picture>
                </div>
                <div class="col-lg-7 row no-gutters align-items-lg-center px-3 px-lg-4 px-xl-5  py-5 py-lg-0">
                	<div class="diagonal-hero-text">
	                    <h2 class="font-weight-semibold">Incomplete biomarker testing can lead to inappropriate treatment selection</h2>
	                    <p class="lead-2 font-heading font-weight-normal mt-4 mb-0">Only 40% of advanced CRC patients get complete guideline-recommended biomarker&nbsp;testing<sup>8</sup></p>
                	</div>
                </div>
            </div>
        </div>


        <!-- Table panel -->
        <div class="container">
            <div class="row pt-5 pt-md-6 pb-6">

                <div class="col-md-6">
                    <p class="h1 number-big">6</p>
                    <p class="lead-2 font-weight-light">The number of biomarkers guidelines recommend testing CRC patients for before&nbsp;treatment</p>
                </div>

                <div class="col-md-6 mt-4 mt-md-0">

                    <div class="biomarker-table">
                        <div class="bg-yellow px-4 py-3">
                            <p class="mb-0">Testing for all guideline-recommend biomarkers before starting treatment can help predict which treatment will work and what won’t</p>
                        </div>
                        <div class="row py-3 py-sm-4  px-4 pl-md-5 pl-lg-6">
                            <div class="col-6">
                                <p class="lead-2">MSI*</p>
                                <p class="lead-2"><em>KRAS</em></p>
                                <p class="lead-2 mb-0"><em>NRAS</em></p>
                            </div>
                            <div class="col-6">
                                <p class="lead-2"><em>BRAF*</em></p>
                                <p class="lead-2">NTRK*</p>
                                <p class="lead-2 mb-0"><em>ERBB2*</em></p>
                            </div>
                        </div>
                    </div>

                    <p class="mt-3 mb-0"><small class="font-weight-bold">* indicates biomarker with FDA-matched therapy available</small></p>
                    
                </div>

            </div>
        </div>


        <!-- Pie chart panel -->
        <div class="bg-gray-050">
            <div class="container">
                <div class="row pt-6 pb-6">

                    <div class="col-lg-6 pr-lg-5">
                        <h3 class="font-sans-serif mb-0">Biomarker testing results can predict a poor response to EGFR therapy </h3>
                        <p class="lead-2 font-weight-light mt-4 mt-lg-5 mb-0">If a patient has a mutation in <em>KRAS</em>, <em>NRAS</em>, or <em>BRAF</em> genes, anti-<em>EGFR</em> therapies alone will not&nbsp;work.<sup>8</sup></p>
                    </div>

                    <div class="col-sm-12 col-lg-6 mt-5 mt-lg-0">
                        <p class="font-weight-semibold mb-5">Prevalence of negative predictors to anti-EGFR therapy</p>
                        <img class="w-100" src="assets/img/colo/pie-chart.png" alt="Pie chart">

                        <!-- *** adjust  -->
                    </div>

                </div>
            </div>
        </div>


        <!-- Line chart + table panel -->
        <div class="container">
            <div class="row py-6">

                <div class="col-lg-6">
                    <h3 class="font-sans-serif mb-0">Complete-biomarker testing offers advanced CRC patients a chance for longer survival</h3>
                    <p class="lead-2 callout-border-left font-weight-light mt-5 mb-0  py-2">Cetuximab and encorafenib combination extends survival in patients with a BRAF V600E mutation, who typically respond poorly to standard therapies.<sup>17</sup></p>
                </div>

                <div class="col-lg-6 mt-5 mt-lg-0">
                    <img class="w-100" src="assets/img/colo/line-graph.png" alt="Line graph">


                    <!-- Desktop/tablet table -->
                    <table class="survival-table-desktop d-none d-sm-block">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Median Overall Survival<br>mo (95%CI)</th>
                                <th>Progression-Free Survival<br>mo (95%CI)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><em>BRAF</em> Regimen</td>
                                <td>8.4 (7.5-11.0)</td>
                                <td>4.2 (3.7-5.4)</td>
                            </tr>
                            <tr>
                                <td>Control</td>
                                <td>5.4 (4.8-6.6)</td>
                                <td>1.5 (1.5-1.7)</td>
                            </tr>
                        </tbody>
                    </table>



                    <!-- Mobile tables -->
                    <table class="survival-table-mobile d-sm-none w-100 mt-5">
                        <thead>
                            <tr>
                                <th colspan="2">Median Overall Survival<br>mo (95%CI)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><em>BRAF</em> Regimen</td>
                                <td>8.4 (7.5-11.0)</td>
                            </tr>
                            <tr>
                                <td>Control</td>
                                <td>5.4 (4.8-6.6)</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="survival-table-mobile d-sm-none w-100 mt-4">
                        <thead>
                            <tr>
                                <th colspan="2">Progression-Free Survival<br>mo (95%CI)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><em>BRAF</em> Regimen</td>
                                <td>4.2 (3.7-5.4)</td>
                            </tr>
                            <tr>
                                <td>Control</td>
                                <td>1.5 (1.5-1.7)</td>
                            </tr>
                        </tbody>
                    </table>






                </div>















            </div>
        </div>



    </main>

{% import 'macros/footer.njk' as footer -%}
{{footer.footer('bg-dark', 'text-white')}}
{% endblock %}
