{% extends "layouts/default.njk" %}
{% set title = "Data" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-white', 'navbar-light', 'data')}}

    <main id="content">

        <div class="diagonal-hero bg-red text-dark">
            <div class="row no-gutters">
                <div class="col-lg-5">
					<picture>
                        <source srcset="assets/img/shared/hero-desktop-tall.svg"
                            media="(min-width: 992px)">
						<source srcset="assets/img/shared/hero-tablet.svg"
                            media="(min-width: 768px)">                            
                        <source srcset="assets/img/shared/hero-mobile.svg"
                            media="(min-width: 0px)">
                        <img src="assets/img/shared/hero-desktop-tall.svg" alt="" class="w-100" />
                    </picture>
                </div>
                <div class="col-lg-7 row no-gutters align-items-lg-center px-3 px-lg-4 px-xl-5  py-5 py-lg-0">
                	<div class="diagonal-hero-text">
	                    <h2 class="font-weight-semibold">Data</h2>
	                    <p class="lead-2 font-heading font-weight-normal mt-4 mb-0">Low adoption of recommended biomarker testing in NSCLC and CRC and inappropriate treatment selection for patients with these cancers are increasingly highlighted in prominent&nbsp;publications</p>
                	</div>
                </div>
            </div>
        </div>





        <div class="container bg-gray050 my-6">





            <div class="row">

                <div class="col-lg-6">
                    <div class="data-card">
                        <div class="data-card-header">
                            <h4 class="font-sans-serif mb-1">Gastroenterology Report</h4>
                            <p>June 3, 2020</p>
                        </div>
                        <div class="data-card-body">
                            <p class="lead-2">Anti-<em>EGFR</em> therapy in metastatic colorectal cancer: mechanisms and potential regimens of drug resistance</p>
                            <p class="font-weight-light mb-4">Cetuximab and panitumumab, as the highly effective antibodies targeting <em>EGFR</em>, have clinical activity in the patients with metastatic CRC&hellip;</p>

                            <a href="https://academic.oup.com/gastro/article/8/3/179/5861161" class="text-red text-uppercase" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="data-card">
                        <div class="data-card-header">
                            <h4 class="font-sans-serif mb-1">JCO Precision Oncology</h4>
                            <p>December 6, 2019</p>
                        </div>
                        <div class="data-card-body">
                            <p class="lead-2">Genomic Profiling for <em>KRAS</em>, <em>NRAS</em>, <em>BRAF</em>, Microsatellite Instability, and Mismatch Repair Deficiency Among Patients With Metastatic Colon Cancer</p>
                            <p class="font-weight-light mb-4">Genomic testing is recognized in national guidelines as essential to guide appropriate therapy selection in metastatic colorectal cancer&hellip;</p>

                            <a href="https://ascopubs.org/doi/full/10.1200/PO.19.00274" class="text-red text-uppercase" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>

            </div>




            <div class="row mt-4">

                <div class="col-lg-6">
                    <div class="data-card">
                        <div class="data-card-header">
                            <h4 class="font-sans-serif mb-1">NEJM</h4>
                            <p>October 24, 2019</p>
                        </div>
                        <div class="data-card-body">
                            <p class="lead-2">Encorafenib, Binimetinib, and Cetuximab in <em>BRAF</em> V600E–Mutated Colorectal Cancer</p>
                            <p class="font-weight-light mb-4">A combination of encorafenib, cetuximab, and binimetinib resulted in significantly longer overall survival in patients with metastatic colorectal cancer with the <em>BRAF</em> V600E mutation&hellip;</p>

                            <a href="https://www.nejm.org/doi/full/10.1056/NEJMoa1908075" class="text-red text-uppercase" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="data-card">
                        <div class="data-card-header">
                            <h4 class="font-sans-serif mb-1">World J Gastrointest Oncol</h4>
                            <p>April 15, 2019</p>
                        </div>
                        <div class="data-card-body">
                            <p class="lead-2">Significance of HER2 protein expression and HER2 gene amplification in colorectal adenocarcinomas</p>
                            <p class="font-weight-light mb-4">While the role of HER2 as a prognostic biomarker in CRC remains uncertain, its relevance as a therapeutic target has been established&hellip;</p>

                            <a href="https://www.wjgnet.com/1948-5204/full/v11/i4/335.htm" class="text-red text-uppercase" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>

            </div>            





            <div class="row mt-4">

                <div class="col-lg-6">
                    <div class="data-card">
                        <div class="data-card-header">
                            <h4 class="font-sans-serif mb-1">Clinical Cancer Research</h4>
                            <p>December 15, 2015</p>
                        </div>
                        <div class="data-card-body">
                            <p class="lead-2">Analysis of <em>KRAS</em>/<em>NRAS</em> Mutations in a Phase III Study of Panitumumab with FOLFIRI Compared with FOLFIRI Alone as Second-line Treatment for Metastatic Colorectal Cancer</p>
                            <p class="font-weight-light mb-4">We evaluated the influence of RAS mutation status on the treatment effect of panitumumab in a prospective-retrospective analysis&hellip;</p>

                            <a href="https://clincancerres.aacrjournals.org/content/21/24/5469.long" class="text-red text-uppercase" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="data-card">
                        <div class="data-card-header">
                            <h4 class="font-sans-serif mb-1">Journal of Clinical Oncology</h4>
                            <p>May 25, 2020</p>
                        </div>
                        <div class="data-card-body">
                            <p class="lead-2">A retrospective three-year analysis using real-world data on uptake of broad-based NextGen sequencing panels in community oncology practices</p>
                            <p class="font-weight-light mb-4">There are over 100 FDA approved targeted therapies across 15 cancer types, offering improved outcomes over existing therapies. However, many of these require genetic testing, for example, advanced non-small cell&hellip;</p>

                            <a href="https://ascopubs.org/doi/abs/10.1200/JCO.2020.38.15_suppl.e13668" class="text-red text-uppercase" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>

            </div>            




            <div class="row mt-4">

                <div class="col-lg-6">
                    <div class="data-card">
                        <div class="data-card-header">
                            <h4 class="font-sans-serif mb-1">National Comprehensive Cancer Network</h4>
                            <p>February 11, 2020</p>
                        </div>
                        <div class="data-card-body">
                            <p class="lead-2">NCCN Guidelines Version 3</p>
                            <p class="font-weight-light mb-4">The NCCN Clinical Practice Guidelines in Oncology (NCCN Guidelines®) are comprised of recommendations for the prevention, diagnosis, and management of malignancies across the continuum of care. The NCCN Guidelines&reg; currently&hellip;</p>

                            <a href="https://clearyourview.org/wp-content/uploads/2020/04/nscl.pdf" class="text-red text-uppercase" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="data-card">
                        <div class="data-card-header">
                            <h4 class="font-sans-serif mb-1">Annals of Oncology</h4>
                            <p>May 1, 2019</p>
                        </div>
                        <div class="data-card-body">
                            <p class="lead-2">Severe immune-related adverse events are common with sequential PD-(L)1 blockade and osimertinib</p>
                            <p class="font-weight-light mb-4">Concurrent programmed death-ligand-1 (PD-(L)1) plus osimertinib is associated with severe immune related adverse events (irAE) in epidermal growth factor receptor (<em>EGFR</em>)-mutant non-small-cell lung cancer (NSCLC). Now that PD-(L)1 inhibitors are&hellip;</p>

                            <a href="https://www.annalsofoncology.org/article/S0923-7534(19)31165-2/abstract" class="text-red text-uppercase" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>

            </div>            




            <div class="row mt-4">

                <div class="col-lg-6">
                    <div class="data-card">
                        <div class="data-card-header">
                            <h4 class="font-sans-serif mb-1">Clinical Cancer Research</h4>
                            <p>April 15, 2019</p>
                        </div>
                        <div class="data-card-body">
                            <p class="lead-2">Clinical Utility of Comprehensive Cell-free DNA Analysis to Identify Genomic Biomarkers in Patients with Newly Diagnosed Metastatic Non–small Cell Lung Cancer</p>
                            <p class="font-weight-light mb-4">Complete and timely tissue genotyping is challenging, leading to significant numbers of patients with newly diagnosed metastatic non–small cell lung cancer (mNSCLC) being undergenotyped for all eight genomic biomarkers recommended&hellip;</p>

                            <a href="https://clincancerres.aacrjournals.org/content/25/15/4691.long" class="text-red text-uppercase" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="data-card">
                        <div class="data-card-header">
                            <h4 class="font-sans-serif mb-1">Journal of Thoracic Oncology</h4>
                            <p>June 1, 2018</p>
                        </div>
                        <div class="data-card-body">
                            <p class="lead-2">A Phase II Study of Pembrolizumab in <em>EGFR</em>-Mutant, PD-L1+, Tyrosine Kinase Inhibitor Naïve Patients With Advanced NSCLC</p>
                            <p class="font-weight-light mb-4">Despite the significant antitumor activity of pembrolizumab in NSCLC, clinical benefit has been less frequently observed in patients whose tumors harbor <em>EGFR</em> mutations compared to <em>EGFR</em> wild-type patients. Our single-center&hellip;</p>

                            <a href="https://www.jto.org/article/S1556-0864(18)30602-6/abstract" class="text-red text-uppercase" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>

            </div>            





            <div class="row mt-4">

                <div class="col-lg-6">
                    <div class="data-card">
                        <div class="data-card-header">
                            <h4 class="font-sans-serif mb-1">Clinical Lung Cancer</h4>
                            <p>April 13, 2017</p>
                        </div>
                        <div class="data-card-body">
                            <p class="lead-2">Genomic Profiling of Advanced Non–Small Cell Lung Cancer in Community Settings: Gaps and Opportunities</p>
                            <p class="font-weight-light mb-4">National guidelines have advocated broad molecular profiling as a part of the standard diagnostic evaluation for advanced non–small cell lung cancer (NSCLC), with the goal of identifying driver mutations for&hellip;</p>

                            <a href="https://www.clinical-lung-cancer.com/article/S1525-7304(17)30109-2/abstract" class="text-red text-uppercase" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="data-card">
                        <div class="data-card-header">
                            <h4 class="font-sans-serif mb-1">Clinical Cancer Research</h4>
                            <p>May 25, 2016</p>
                        </div>
                        <div class="data-card-body">
                            <p class="lead-2"><em>EGFR</em> Mutations and <em>ALK</em> Rearrangements Are Associated with Low Response Rates to PD-1 Pathway Blockade in Non–Small Cell Lung Cancer: A Retrospective Analysis</p>
                            <p class="font-weight-light mb-4">PD-1 inhibitors are established agents in the management of non–small cell lung cancer (NSCLC); however, only a subset of patients derives clinical benefit. To determine the activity of PD-1/PD-L1 inhibitors&hellip;</p>

                            <a href="https://clincancerres.aacrjournals.org/content/22/18/4585.long" class="text-red text-uppercase" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>

            </div>            



        </div>





    </main>

{% import 'macros/footer.njk' as footer -%}
{{footer.footer('bg-dark', 'text-white')}}
{% endblock %}
