{% extends "layouts/default.njk" %}
{% set title = "Home" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-white', 'navbar-light', 'home')}}
    <main id="content">

        <!-- Hero -->
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="row no-gutters">

                        <div class="col-lg-7">
                            <img class="d-block w-100" src="assets/img/home/hero-cracked-window.png" alt="">
                        </div>
                        <div class="col-lg-5 bg-yellow hero-carousel-background pt-5 pl-5 pr-6">
                            <h1 class="text-uppercase">You’re in the driver’s seat</h1>
                            <p>Get a clear view of your patients’ treatment options with complete biomarker testing</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row no-gutters">

                        <div class="col-lg-7">
                            <img class="d-block w-100" src="assets/img/home/hero-turn.png" alt="">
                        </div>
                        <div class="col-lg-5 bg-orange hero-carousel-background pt-5 pl-5 pr-6">
                            <h1 class="text-uppercase">Know the road ahead</h1>
                            <p>Test for ALL recommended biomarkers to map out the best route</h4>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row no-gutters">

                        <div class="col-lg-7">
                            <img class="d-block w-100" src="assets/img/home/hero-stop-wait-treat.png" alt="">
                        </div>
                        <div class="col-lg-5 bg-red hero-carousel-background pt-5 pl-5 pr-6">
                            <h1 class="text-uppercase">See the signs</h1>
                            <p>The treatment landscape is rapidly changing</h4>
                        </div>
                    </div>
                </div>


            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <svg id="Group_4371" data-name="Group 4371" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" aria-hidden="true">
                    <circle id="Ellipse_101" data-name="Ellipse 101" cx="22" cy="22" r="22" fill="#fff"/>
                    <g id="noun_Arrow_2513134" transform="translate(14.324 32.896) rotate(-90)">
                        <g id="Group_4369" data-name="Group 4369" transform="translate(0 0)">
                            <path id="Path_30767" data-name="Path 30767" d="M23.115,12.252a.826.826,0,0,1-1.167,0L11.688,1.972,1.408,12.252A.825.825,0,0,1,.241,11.085L11.085.241A.806.806,0,0,1,11.668,0a.84.84,0,0,1,.583.241L23.1,11.085A.808.808,0,0,1,23.115,12.252Z"/>
                        </g>
                    </g>
                </svg>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" aria-hidden="true">
                    <g id="Group_4370" data-name="Group 4370" transform="translate(-1708 -511)">
                        <circle id="Ellipse_101" data-name="Ellipse 101" cx="22" cy="22" r="22" transform="translate(1708 511)" fill="#fff"/>
                        <g id="noun_Arrow_2513134" transform="translate(1712.998 544.08) rotate(-90)">
                            <g id="Group_4369" data-name="Group 4369" transform="translate(0.185 12.185)">
                                <path id="Path_30767" data-name="Path 30767" d="M23.3,12.426a.826.826,0,0,0-1.167,0l-10.26,10.28L1.593,12.426A.825.825,0,1,0,.426,13.593L11.27,24.436a.806.806,0,0,0,.583.241.84.84,0,0,0,.583-.241L23.28,13.593A.808.808,0,0,0,23.3,12.426Z" transform="translate(-0.185 -12.185)"/>
                            </g>
                        </g>
                    </g>
                </svg>
                <span class="sr-only">Next</span>
            </a>

        </div>




        <!-- Call to action -->
        <div class="container-fluid bg-red text-light text-center">
            <div class="container py-6">
                <p class="lead font-weight-bold">Biomarker testing is driving a new standard of&nbsp;care</p>
                <p>Backed by leading cancer research and advocacy organizations, the Clear Your View initiative aims to ensure complete biomarker testing informs treatment decisions for every advanced cancer&nbsp;patient.</p>
            </div>
        </div>

    </main>

    {% import 'macros/footer.njk' as footer -%}
    {{footer.footer('bg-black', 'text-light')}}
{% endblock %}
