{% extends "layouts/default.njk" %}
{% set title = "Lung Cancer" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-white', 'navbar-light', 'lung')}}

    <main id="content">

        <div class="diagonal-hero bg-yellow text-dark">
            <div class="row no-gutters">
                <div class="col-lg-5">
					<picture>
                        <source srcset="assets/img/shared/hero-desktop-tall.svg"
                            media="(min-width: 992px)">
						<source srcset="assets/img/shared/hero-tablet.svg"
                            media="(min-width: 768px)">                            
                        <source srcset="assets/img/shared/hero-mobile.svg"
                            media="(min-width: 0px)">
                        <img src="assets/img/shared/hero-desktop-tall.svg" alt="" class="w-100" />
                    </picture>
                </div>
                <div class="col-lg-7 row no-gutters align-items-lg-center px-3 px-lg-4 px-xl-5  py-5 py-lg-0">
                	<div class="diagonal-hero-text">
	                    <h2 class="font-weight-semibold">Incomplete biomarker testing can lead to inappropriate treatment selection</h2>
	                    <p class="lead-2 font-heading font-weight-normal mt-4 mb-0">Fewer than 20% of advanced NSCLC patients get complete guideline-recommended biomarker&nbsp;testing<sup>9</sup></p>
                	</div>
                </div>
            </div>
        </div>

        <!-- Table panel -->
        <div class="container">
        	<div class="row pt-5 pt-md-6 pb-6">

        		<div class="col-md-6">
        			<p class="h1 number-big">10</p>
        			<p class="lead-2 font-weight-light">The number of biomarkers guidelines recommend testing advanced NSCLC patients for before&nbsp;treatment</p>
        		</div>

        		<div class="col-md-6 mt-4 mt-md-0">

        			<div class="biomarker-table">
        				<div class="bg-yellow px-3 py-3">
        					<p class="mb-0">The list of biomarkers that are matched with an FDA-approved targeted therapy is&nbsp;growing.</p>
        				</div>
        				<div class="row py-3 py-sm-4  px-4 pl-md-5 pl-lg-6">
	        				<div class="col-6">
	        					<p class="lead-2"><em>EGFR</em></p>
								<p class="lead-2"><em>KRAS</em></p>
								<p class="lead-2"><em>ALK</em></p>
								<p class="lead-2"><em>ROS1</em></p>
								<p class="lead-2 mb-0"><em>BRAF</em></p>
	        				</div>
	        				<div class="col-6">
	        					<p class="lead-2"><em>MET</em></p>
								<p class="lead-2"><em>RET</em></p>
								<p class="lead-2"><em>ERBB2</em></p>
								<p class="lead-2"><em>NTRK</em></p>
								<p class="lead-2 mb-0">PD-L1</p>
	        				</div>
	        			</div>
        			</div>
        		</div>
        	</div>
        </div>


        <!-- Pie chart panel -->
        <div class="bg-gray-050">
			<div class="container">
	        	<div class="row align-items-lg-center pt-5 pt-sm-5 pb-5">

	        		<div class="col-lg-6 order-lg-2">
	        			<h2 class="font-sans-serif">2 in 3 NSCLC patients</h2>
	        			<p class="lead-2 font-weight-light mb-0">have a biomarker that can be targeted with available&nbsp;therapies<sup>10</sup></p>
	        		</div>

	        		<div class="col-sm-10 col-lg-6 mt-5 mt-lg-0 order-lg-1">
	        			<img class="w-100" src="assets/img/lung/pie-chart.png" alt="Pie chart">
	        		</div>

	        	</div>
	        </div>
		</div>

		<!-- Text panel -->
        <div class="container">
        	<div class="row pt-6 pb-6">

        		<div class="col-lg-6">
        			<h3 class="font-sans-serif mb-0">Matching advanced NSCLC patients to targeted therapy using biomarker testing results improves&nbsp;outcomes<sup>11</sup></h3>
        		</div>

        		<div class="col-lg-6 mt-4 mt-lg-0">
        			<p class="lead-2 mb-0">Sotorasib (LUMAKRAS™) significantly increases PFS compared to&nbsp;docetaxel<sup>11</sup></p>

        			<p class="lead-2 font-weight-light mb-0">Sotorasib targets <em>KRAS G12C</em>, one of the most common NSCLC biomarkers. 1 in 8 patients with advanced lung cancer has a <em>KRAS G12C</em>&nbsp;mutation.<sup>10</sup></p>
        		</div>

        	</div>
        </div>

        <!-- Bar graph panel -->
        <div class="bg-gray-050">
			<div class="container">
	        	<div class="row align-items-lg-center py-6">

	        		<div class="col-lg-6 order-lg-2">
	        			<h3 class="font-sans-serif text-red callout-border-left mb-5 mb-lg-5 py-2">Advanced NSCLC patients with targetable mutations should not be treated with immunotherapy<sup>1</sup></h3>

	        			<p class="h1 number-big-70">82%</p>
	        			<p class="lead-2 font-weight-light mb-0">of NSCLC patients could get the wrong treatment because their doctors fail to order complete biomarker testing.<sup>9</sup></p>
	        		</div>

	        		<div class="col-sm-10 col-lg-6 mt-5 mt-lg-0 order-lg-1">
	        			<img class="w-100" src="assets/img/lung/bar-graph.png" alt="Pie chart">
	        		</div>

	        	</div>
	        </div>
		</div>

		<!-- Text with red box panel -->
        <div class="container">
        	<div class="row py-6">

        		<div class="col-lg-6">
        			<h3 class="font-sans-serif mb-0">One chance to make the right decision</h3>
        			<p class="lead-2 font-weight-light mt-4 mb-0">There may be just one opportunity for a doctor to make the right decision about a patient’s first-line treatment for advanced NSCLC.</p>
        		</div>

        		<div class="col-lg-6 mt-5 mt-lg-0">
        			<h3 class="font-sans-serif bg-red text-white px-4 px-md-5  py-5  mb-0">Only 1 in 2 NSCLC patients make it to receive second-line therapy<sup>15,&nbsp;16</sup></h3>
        			
        		</div>

        	</div>
        </div>

    </main>

{% import 'macros/footer.njk' as footer -%}
{{footer.footer('bg-dark', 'text-white')}}
{% endblock %}