{% extends "layouts/default.njk" %}
{% set title = "News & Media" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-white', 'navbar-light', 'news')}}

<main id="content">

    <div class="diagonal-hero bg-red text-dark">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <picture>
                    <source srcset="assets/img/shared/hero-desktop-tall.svg"
                    media="(min-width: 992px)">
                    <source srcset="assets/img/shared/hero-tablet.svg"
                    media="(min-width: 768px)">                            
                    <source srcset="assets/img/shared/hero-mobile.svg"
                    media="(min-width: 0px)">
                    <img src="assets/img/shared/hero-desktop-tall.svg" alt="" class="w-100" />
                </picture>
            </div>
            <div class="col-lg-7 row no-gutters align-items-lg-center px-3 px-lg-4 px-xl-5  py-5 py-lg-0">
                <div class="diagonal-hero-text">
                    <h2 class="font-weight-semibold">Media</h2>
                    <p class="lead-2 font-heading font-weight-normal mt-4 mb-0">Clear Your View is an initiative to ensure all advanced cancer patients receive complete biomarker testing before first-line treatment. We offer key resources for journalists, editors, and other media&nbsp;professionals</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Recent news -->
    <div class="container my-6">

        <h3 class="font-sans-serif">Recent News</h3>

        <div class="mt-5 news-row pb-2">
            <p class="font-weight-semibold mb-0">December 3, 2020</p>
            <p class="lead-2">
                <a target="_blank" href="https://www.caredash.com/articles/new-blood-test-offers-hope-to-advanced-lung-cancer-patients">
                    New Blood Test Offers Hope to Advanced Lung Cancer Patients
                </a>
            </p>
        </div>

        <div class="mt-5 news-row pb-2">
            <p class="font-weight-semibold mb-0">November 19, 2020</p>
            <p class="lead-2">
                <a target="_blank" href="https://www.wired.com/story/one-mans-search-for-dna-data-that-could-save-his-life/">
                    Wired: One Man’s Search for the DNA Data That Could Save His Life
                </a>
            </p>
        </div>

        <div class="mt-5 news-row pb-2">
            <p class="font-weight-semibold mb-0">October 29, 2020</p>
            <p class="lead-2">
                <a target="_blank" href="https://www.onclive.com/view/raez-on-the-rise-of-liquid-biopsy-in-lung-cancer">
                    OncLive: Raez on the Rise of Liquid Biopsy in Lung Cancer
                </a>
            </p>
        </div>

        <div class="mt-5 news-row pb-2">
            <p class="font-weight-semibold mb-0">September 3, 2020</p>
            <p class="lead-2">
                <a target="_blank" href="https://urldefense.com/v3/__https:/www.usatoday.com/story/news/health/2020/09/03/cancer-fda-approves-liquid-biopsy-tests-can-improve-treatment/5644829002/__;!!LF7Dpc92lww!qxRJ-ILHlix7W4sYigjH2jk2Ma2f53Kk9pC6n2hRUydsyHpU60FbBXL5YKKENTKJ$">
                    USA Today: ‘Coming into their own’: FDA approval of liquid biopsy tests puts early, less invasive cancer detection in broader reach
                </a>
            </p>
        </div>

        <div class="mt-5 news-row pb-2">
            <p class="font-weight-semibold mb-0">September 11, 2020</p>
            <p class="lead-2">
                <a target="_blank" href="https://urldefense.com/v3/__https:/www.icr.ac.uk/news-archive/major-plasmamatch-trial-uses-blood-test-to-match-women-with-breast-cancer-to-range-of-precision-treatments__;!!LF7Dpc92lww!qxRJ-ILHlix7W4sYigjH2jk2Ma2f53Kk9pC6n2hRUydsyHpU60FbBXL5YOyyUl0C$">
                    ICR: Major ‘plasmaMATCH’ trial uses blood test to match women with breast cancer to range of precision treatments
                </a>
            </p>
        </div>

        <div class="mt-5 news-row pb-2">
            <p class="font-weight-semibold mb-0">September 11, 2020</p>
            <p class="lead-2">
                <a target="_blank" href="https://urldefense.com/v3/__https:/www.nature.com/articles/s41571-020-0423-x__;!!LF7Dpc92lww!qxRJ-ILHlix7W4sYigjH2jk2Ma2f53Kk9pC6n2hRUydsyHpU60FbBXL5YBTy02wb$">
                    Nature Reviews Clinical Oncology: Strategies for the successful implementation of plasma-based NSCLC genotyping in clinical practice
                </a>
            </p>
        </div>

        <div class="mt-5 news-row pb-2">
            <p class="font-weight-semibold mb-0">September 22, 2020</p>
            <p class="lead-2">
                <a target="_blank" href="https://urldefense.com/v3/__https:/time.com/5889982/cancer-liquid-biopsies/__;!!LF7Dpc92lww!qxRJ-ILHlix7W4sYigjH2jk2Ma2f53Kk9pC6n2hRUydsyHpU60FbBXL5YHpv23Xw$">
                    TIME Magazine: What Your Blood Tells You About Cancer
                </a>
            </p>
        </div>

        <div class="mt-5">
            <a class="text-black font-weight-semibold" href="more-news.html">
                More news&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24.738" height="25.268" viewBox="0 0 24.738 25.268">
                    <g id="noun_Arrow_16959" transform="translate(-18 40.268) rotate(-90)">
                        <g id="Group_95" data-name="Group 95" transform="translate(15 18)">
                            <path id="Path_30060" data-name="Path 30060" d="M39.87,30.82a1.716,1.716,0,0,0-2.419-.22l-8.106,6.758.019-17.638a1.719,1.719,0,0,0-3.437,0l-.019,17.629L17.817,30.6a1.717,1.717,0,0,0-2.418.22,1.716,1.716,0,0,0,.219,2.419l10.916,9.1a1.718,1.718,0,0,0,2.2,0l10.915-9.1a1.717,1.717,0,0,0,.221-2.419Z" transform="translate(-15 -18)" fill="#e71d2b"/>
                        </g>
                    </g>
                </svg>
            </a>
        </div>

    </div>




    <div class="bg-gray-050">
        <div class="container py-6">
            <h3 class="font-sans-serif">Backgrounders</h3>

            <div class="row mt-5">

                <div class="col-lg-6">
                    <div class="backgrounders-card bg-red px-4 px-md-5  py-5">
                        <h5 class="font-sans-serif text-white">Biomarker Testing in Non-Small Cell Lung Cancer</h5>

                        <a href="assets/img/resources/downloads/CYV_Gene_Card_Download.pdf" target="_blank" class="btn btn-outline btn-outline-white mt-4 mt-lg-0">Download</a>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="backgrounders-card bg-red px-4 px-md-5  py-5">
                        <h5 class="font-sans-serif text-white">“Clear Your View” Campaign</h5>

                        <a href="assets/img/resources/downloads/CYV_Gene_Card_Download.pdf" target="_blank" class="btn btn-outline btn-outline-white mt-4 mt-lg-0">Download</a>
                    </div>
                </div>

            </div>

            <div class="row mt-4">

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="backgrounders-card bg-red px-4 px-md-5  py-5">
                        <h5 class="font-sans-serif text-white">Experience of Advanced Non-Small Cell Lung Cancer Patients</h5>

                        <a href="assets/img/resources/downloads/CYV_Gene_Card_Download.pdf" target="_blank" class="btn btn-outline btn-outline-white mt-4 mt-lg-0">Download</a>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="container py-6">
        <h3 class="font-sans-serif">Digital Assets</h3>


        <h5 class="font-sans-serif font-weight-normal mt-5">Logo</h5>
        <img class="assets-logo mt-3" src="assets/img/media/downloads/logo/ClearYourView_Logo.png" alt="">

        <div class="mt-4">
            <a href="assets/img/media/downloads/logo/ClearYourView_Logo.png" class="text-red assets-download-cta" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                    <g id="noun_Download_2392148" transform="translate(-2 -2)">
                        <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                        <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                    </g>
                </svg>
                <span>Download</span>
            </a>
        </div>



        <h5 class="font-sans-serif font-weight-normal mt-6">Campaign Images</h5>

        <div class="row">

            <div class="col-lg-4">
                <img class="w-100 mt-3" src="assets/img/media/downloads/campaign-images/CYV_CampaignImage_BW_640x480.jpg" alt="">

                <div class="row mt-4 no-gutters">
                    <div class="col-4 col-xs-4 col-sm-3 col-lg-4"><span class="assets-download-label">FULL-SIZE</span></div>
                    <div class="col-8 col-xs-8 col-sm-9 col-lg-8">
                        <a href="assets/img/media/downloads/campaign-images/" target="_blank" class="text-red assets-download-cta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                                <g id="noun_Download_2392148" transform="translate(-2 -2)">
                                    <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                                    <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                                </g>
                            </svg>
                            <span>Download</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-2 no-gutters">
                    <div class="col-4 col-xs-4 col-sm-3 col-lg-4"><span class="assets-download-label">640X480</span></div>
                    <div class="col-8 col-xs-8 col-sm-9 col-lg-8">
                        <a href="assets/img/media/downloads/campaign-images/" target="_blank" class="text-red assets-download-cta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                                <g id="noun_Download_2392148" transform="translate(-2 -2)">
                                    <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                                    <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                                </g>
                            </svg>
                            <span>Download</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 mt-4 mt-lg-0">
                <img class="w-100 mt-3" src="assets/img/media/downloads/campaign-images/CYV_CampaignImage_RoadCurve_640x480.jpg" alt="">

                <div class="row mt-4 no-gutters">
                    <div class="col-4 col-xs-4 col-sm-3 col-lg-4"><span class="assets-download-label">FULL-SIZE</span></div>
                    <div class="col-8 col-xs-8 col-sm-9 col-lg-8">
                        <a href="assets/img/media/downloads/campaign-images/" target="_blank" class="text-red assets-download-cta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                                <g id="noun_Download_2392148" transform="translate(-2 -2)">
                                    <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                                    <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                                </g>
                            </svg>
                            <span>Download</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-2 no-gutters">
                    <div class="col-4 col-xs-4 col-sm-3 col-lg-4"><span class="assets-download-label">640X480</span></div>
                    <div class="col-8 col-xs-8 col-sm-9 col-lg-8">
                        <a href="assets/img/media/downloads/campaign-images/" target="_blank" class="text-red assets-download-cta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                                <g id="noun_Download_2392148" transform="translate(-2 -2)">
                                    <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                                    <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                                </g>
                            </svg>
                            <span>Download</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <img class="w-100 mt-3" src="assets/img/media/downloads/campaign-images/CYV_CampaignImage_Signs_640x480.jpg" alt="">

                <div class="row mt-4 no-gutters">
                    <div class="col-4 col-xs-4 col-sm-3 col-lg-4"><span class="assets-download-label">FULL-SIZE</span></div>
                    <div class="col-8 col-xs-8 col-sm-9 col-lg-8">
                        <a href="assets/img/media/downloads/campaign-images/" target="_blank" class="text-red assets-download-cta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                                <g id="noun_Download_2392148" transform="translate(-2 -2)">
                                    <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                                    <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                                </g>
                            </svg>
                            <span>Download</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-2 no-gutters">
                    <div class="col-4 col-xs-4 col-sm-3 col-lg-4"><span class="assets-download-label">640X480</span></div>
                    <div class="col-8 col-xs-8 col-sm-9 col-lg-8">
                        <a href="assets/img/media/downloads/campaign-images/" target="_blank" class="text-red assets-download-cta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                                <g id="noun_Download_2392148" transform="translate(-2 -2)">
                                    <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                                    <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                                </g>
                            </svg>
                            <span>Download</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>


        <div class="row mt-4 mt-lg-5">

            <div class="col-lg-4">
                <img class="w-100 mt-3" src="assets/img/media/downloads/campaign-images/CYV_CampaignImage_PattyBW_640x480.jpg" alt="">

                <div class="row mt-4 no-gutters">
                    <div class="col-4 col-xs-4 col-sm-3 col-lg-4"><span class="assets-download-label">FULL-SIZE</span></div>
                    <div class="col-8 col-xs-8 col-sm-9 col-lg-8">
                        <a href="assets/img/media/downloads/campaign-images/" target="_blank" class="text-red assets-download-cta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                                <g id="noun_Download_2392148" transform="translate(-2 -2)">
                                    <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                                    <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                                </g>
                            </svg>
                            <span>Download</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-2 no-gutters">
                    <div class="col-4 col-xs-4 col-sm-3 col-lg-4"><span class="assets-download-label">640X480</span></div>
                    <div class="col-8 col-xs-8 col-sm-9 col-lg-8">
                        <a href="assets/img/media/downloads/campaign-images/" target="_blank" class="text-red assets-download-cta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                                <g id="noun_Download_2392148" transform="translate(-2 -2)">
                                    <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                                    <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                                </g>
                            </svg>
                            <span>Download</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 mt-4 mt-lg-0">
                <img class="w-100 mt-3" src="assets/img/media/downloads/campaign-images/CYV_CampaignImage_Coby_640x480.jpg" alt="">

                <div class="row mt-4 no-gutters">
                    <div class="col-4 col-xs-4 col-sm-3 col-lg-4"><span class="assets-download-label">FULL-SIZE</span></div>
                    <div class="col-8 col-xs-8 col-sm-9 col-lg-8">
                        <a href="assets/img/media/downloads/campaign-images/" target="_blank" class="text-red assets-download-cta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                                <g id="noun_Download_2392148" transform="translate(-2 -2)">
                                    <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                                    <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                                </g>
                            </svg>
                            <span>Download</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-2 no-gutters">
                    <div class="col-4 col-xs-4 col-sm-3 col-lg-4"><span class="assets-download-label">640X480</span></div>
                    <div class="col-8 col-xs-8 col-sm-9 col-lg-8">
                        <a href="assets/img/media/downloads/campaign-images/" target="_blank" class="text-red assets-download-cta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                                <g id="noun_Download_2392148" transform="translate(-2 -2)">
                                    <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                                    <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                                </g>
                            </svg>
                            <span>Download</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <img class="w-100 mt-3" src="assets/img/media/downloads/campaign-images/CYV_CampaignImage_StarBW_640x480.jpg" alt="">

                <div class="row mt-4 no-gutters">
                    <div class="col-4 col-xs-4 col-sm-3 col-lg-4"><span class="assets-download-label">FULL-SIZE</span></div>
                    <div class="col-8 col-xs-8 col-sm-9 col-lg-8">
                        <a href="assets/img/media/downloads/campaign-images/" target="_blank" class="text-red assets-download-cta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                                <g id="noun_Download_2392148" transform="translate(-2 -2)">
                                    <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                                    <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                                </g>
                            </svg>
                            <span>Download</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-2 no-gutters">
                    <div class="col-4 col-xs-4 col-sm-3 col-lg-4"><span class="assets-download-label">640X480</span></div>
                    <div class="col-8 col-xs-8 col-sm-9 col-lg-8">
                        <a href="assets/img/media/downloads/campaign-images/" target="_blank" class="text-red assets-download-cta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                                <g id="noun_Download_2392148" transform="translate(-2 -2)">
                                    <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                                    <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                                </g>
                            </svg>
                            <span>Download</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>


        <div class="row mt-4 mt-lg-5">

            <div class="col-lg-4">
                <img class="w-100 mt-3" src="assets/img/media/downloads/campaign-images/CYV_CampaignImage_AJBW_640x480.jpg" alt="">

                <div class="row mt-4 no-gutters">
                    <div class="col-4 col-xs-4 col-sm-3 col-lg-4"><span class="assets-download-label">FULL-SIZE</span></div>
                    <div class="col-8 col-xs-8 col-sm-9 col-lg-8">
                        <a href="assets/img/media/downloads/campaign-images/" target="_blank" class="text-red assets-download-cta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                                <g id="noun_Download_2392148" transform="translate(-2 -2)">
                                    <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                                    <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                                </g>
                            </svg>
                            <span>Download</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-2 no-gutters">
                    <div class="col-4 col-xs-4 col-sm-3 col-lg-4"><span class="assets-download-label">640X480</span></div>
                    <div class="col-8 col-xs-8 col-sm-9 col-lg-8">
                        <a href="assets/img/media/downloads/campaign-images/" target="_blank" class="text-red assets-download-cta">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.842" height="16" viewBox="0 0 16.842 16">
                                <g id="noun_Download_2392148" transform="translate(-2 -2)">
                                    <path id="Path_30585" data-name="Path 30585" d="M18,19H2.842a.842.842,0,1,0,0,1.684H18A.842.842,0,1,0,18,19Z" transform="translate(0 -2.684)" fill="#e71d2b"/>
                                    <path id="Path_30586" data-name="Path 30586" d="M11.062,2a.842.842,0,0,0-.842.842V11.76L7.449,8.981a.842.842,0,0,0-1.187,1.187l4.211,4.211a.842.842,0,0,0,1.187,0l4.211-4.211a.842.842,0,0,0-1.187-1.187L11.9,11.76V2.842A.842.842,0,0,0,11.062,2Z" transform="translate(-0.641)" fill="#e71d2b"/>
                                </g>
                            </svg>
                            <span>Download</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>







        <h5 class="font-sans-serif font-weight-normal mt-6">Patient Videos</h5>

        <div class="row">

            <div class="col-lg-4">

                <div class="embed-container mt-3">
                    <iframe src="https://www.youtube.com/embed/lpf8hIkproc" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>

                <div class="row mt-4 no-gutters">
                    <div class="col-12 assets-download-label">Patient testimonial on positive impact from biomarker testing</div>
                </div>
            </div>


            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="embed-container mt-3">
                    <iframe src="https://www.youtube.com/embed/NIfCwsahHVI" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>

                <div class="row mt-4 no-gutters">
                    <div class="col-12 assets-download-label">Call-to-action for oncologists to perform biomarker testing</div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="embed-container mt-3">
                    <iframe src="https://www.youtube.com/embed/26tEnI4FNxc" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>

                <div class="row mt-4 no-gutters">
                    <div class="col-12 assets-download-label">Personal plea for biomarker testing before treatment</div>
                </div>
            </div>

        </div>






        <h5 class="font-sans-serif font-weight-normal mt-6">KOL Videos</h5>        

        <div class="row">

            <div class="col-lg-4">

                <div class="embed-container mt-3">
                    <iframe src="https://drive.google.com/file/d/171RqaahkXfZM98wjU0A-N97VJiZX3xaz/preview" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>

                <div class="row mt-4 no-gutters">
                    <div class="col-12 assets-download-label">
                        <div><strong>Erik Bernicker</strong></div>
                        <div>Thoracic Oncologist</div>
                        <div>Methodist Hospital</div>
                        <div>Houston</div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="embed-container mt-3">
                    <iframe src="https://drive.google.com/file/d/1IyUF8c7q9wM973e2cMik9ZsVbu5jWrHX/preview" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>

                <div class="row mt-4 no-gutters">
                    <div class="col-12 assets-download-label">
                        <div><strong>Maen Hussein</strong></div>
                        <div>Medical Oncologist and Hematologist</div>
                        <div>Florida Cancer Specialists and Research Institute</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="embed-container mt-3">
                    <iframe src="https://drive.google.com/file/d/1J2OX3i6xjm2cpMcyT2TPgI9CJR6vNfFX/preview" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>

                <div class="row mt-4 no-gutters">
                    <div class="col-12 assets-download-label">
                        <div><strong>Todd Bauer</strong></div>
                        <div>Associate Director of Drug Development</div>
                        <div>Drug Development Unit</div>
                        <div>Nashville</div>
                    </div>
                </div>
            </div>

        </div>


    </div>







    <!-- Contact -->
    <div class="bg-yellow">
        <div class="container">
            <div class="row py-5">
                <div class="col-xs-10 col-sm-9 col-lg-5">
                    <h3 class="font-sans-serif mb-0">For more information about the Clear Your View Initiative, contact:</h3>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-5 mt-4 mt-lg-0">
                    <p class="font-weight-semibold mb-0">Government Affairs & Patient Advocacy</p>
                    <p>advocacy@ClearYourView.org</p>

                    <p class="font-weight-semibold mb-0">Media</p>
                    <p class="mb-0">media@ClearYourView.org</p>
                </div>
            </div>
        </div>
    </div>

</main>

{% import 'macros/footer.njk' as footer -%}
{{footer.footer('bg-dark', 'text-white')}}
{% endblock %}
