{% extends "layouts/default.njk" %}
{% set title = "News & Media" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-white', 'navbar-light', 'news')}}

    <main id="content">

		<div class="diagonal-hero bg-red text-dark">
            <div class="row no-gutters">
                <div class="col-lg-5">
					<picture>
                        <source srcset="assets/img/shared/hero-desktop-tall.svg"
                            media="(min-width: 992px)">
						<source srcset="assets/img/shared/hero-tablet.svg"
                            media="(min-width: 768px)">                            
                        <source srcset="assets/img/shared/hero-mobile.svg"
                            media="(min-width: 0px)">
                        <img src="assets/img/shared/hero-desktop-tall.svg" alt="" class="w-100" />
                    </picture>
                </div>
                <div class="col-lg-7 row no-gutters align-items-lg-center px-3 px-lg-4 px-xl-5  py-5 py-lg-0">
                	<div class="diagonal-hero-text">
	                    <h2 class="font-weight-semibold">Media</h2>
	                    <p class="lead-2 font-heading font-weight-normal mt-4 mb-0">Clear Your View is an initiative to ensure all advanced cancer patients receive complete biomarker testing before first-line treatment. We offer key resources for journalists, editors, and other media&nbsp;professionals</p>
                	</div>
                </div>
            </div>
        </div>

    </main>

{% import 'macros/footer.njk' as footer -%}
{{footer.footer('bg-dark', 'text-white')}}
{% endblock %}
