{% extends "layouts/default.njk" %}
{% set title = "Lung Cancer" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-white', 'navbar-light')}}

<main id="content">

	<div class="container py-6">
		<h2 class="font-weight-semibold">References</h2>

		<div class="row mt-5">
			<div class="col-12">
				<div>1. NCCN. Non–Small Cell Lung Cancer Guidelines. 2017.</div>
				<div>2. Mack PC et al. Cancer 2020.</div>
				<div>3. Gettinger S, et al. J Clin Oncol. 2016.</div>
				<div>4. Peters S et al. J Clin Oncol. 2017.</div>
				<div>5. Gainor JF et al. Clin Cancer Res. 2016.</div>
				<div>6. Dudnik E et al. J Thorac Oncol. 2018.</div>
				<div>7. Guisier F et al. J Thorac Oncol. 2019.</div>
				<div>8. Gutierrez ME et al. JCO Precision Onc. 2019.</div>
				<div>9. Leighl NB et al. Clin Cancer Res. 2019.</div>
				<div>10. Analysis of AACR Genie v8</div>
				<div>11. Amgen, 2021.</div>
				<div>12. Geva S et al. J Thoracic Onc. 2018.</div>
				<div>13. Keytruda&reg; [package insert].</div>
				<div>14. Dudnik et al. J Thoracic Onc. 2017.</div>
				<div>15 Aggarwal C et al. JAMA Oncol. 2019.</div>
				<div>16.  Hagemann IA et al. Cancer. 2015.</div>
				<div>17. Kopetz et al. NEJM. 2020.</div>
			</div>
		</div>
	</div>

</main>

{% import 'macros/footer.njk' as footer -%}
{{footer.footer('bg-dark', 'text-white')}}
{% endblock %}