{% extends "layouts/default.njk" %}
{% set title = "Resources" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-white', 'navbar-light', 'resources')}}

    <main id="content">

		<div class="diagonal-hero bg-red text-dark">
            <div class="row no-gutters">
                <div class="col-lg-5">
					<picture>
                        <source srcset="assets/img/shared/hero-desktop-tall.svg"
                            media="(min-width: 992px)">
						<source srcset="assets/img/shared/hero-tablet.svg"
                            media="(min-width: 768px)">                            
                        <source srcset="assets/img/shared/hero-mobile.svg"
                            media="(min-width: 0px)">
                        <img src="assets/img/shared/hero-desktop-tall.svg" alt="" class="w-100" />
                    </picture>
                </div>
                <div class="col-lg-7 row no-gutters align-items-lg-center px-3 px-lg-4 px-xl-5  py-5 py-lg-0">
                	<div class="diagonal-hero-text">
	                    <h2 class="font-weight-semibold">Resources</h2>
	                    <p class="lead-2 font-heading font-weight-normal mt-4 mb-0">Healthcare professionals like you face roadblocks when obtaining complete biomarker testing and directing treatment plans. To help, we compiled some useful&nbsp;resources</p>
                	</div>
                </div>
            </div>
        </div>

        <div class="container py-6">

            <!-- Support for Healthcare Professionals -->
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-lg-center">
                    <h3 class="font-sans-serif">Support for Healthcare Professionals</h3>
                    <p class="mt-4 mb-0">The following materials will help you stay up-to-date on the latest biomarker testing guidelines and information to help your patients.</p>
                </div>
            </div>

            <!-- Split content -->
            <div class="row mt-5 resources-content-split">
                <div class="col-lg-6 bg-gray-250 d-flex align-items-center justify-content-center py-5 mx-3 mx-lg-0">
                    <img class="" src="assets/img/resources/lung-guideline.png" alt="">
                </div>
                <div class="col-lg-6 d-flex align-items-center mt-4 mb-5 mt-lg-0 mb-lg-0 px-lg-5">
                    <div>
                        <h4 class="font-sans-serif font-weight-normal mb-3">Comprehensive Reference Guide</h4>
                        <p class="font-weight-light mb-4">This helpful, comprehensive reference card outlines guideline-recommended biomarkers, along with associated therapies.</p>
                        
                        <button class="btn btn-outline btn-outline-red" data-toggle="modal" data-target="#resourcesModal">Download</button>
                        
                        <!-- <a href="assets/img/resources/downloads/CYV_Gene_Card_Download.pdf" target="_blank" class="btn btn-outline btn-outline-red">Download</a> -->

                    </div>
                </div>
            </div>

            <div class="row mt-lg-4 resources-content-split">
                <div class="col-lg-6 bg-gray-250 d-flex order-lg-2 align-items-center justify-content-center py-5 mx-3 mx-lg-0">
                    <img class="" src="assets/img/resources/biomarker-testing-brochure.png" alt="">
                </div>
                <div class="col-lg-6 d-flex order-lg-1 align-items-center mt-4 mb-5 mt-lg-0 mb-lg-0 px-lg-5">
                    <div>
                        <h4 class="font-sans-serif font-weight-normal mb-3">Biomarker Testing Brochure For Your Patients</h4>
                        <p class="font-weight-light mb-4">This patient brochure provides simple explanations for why it is crucial to wait for complete biomarker testing results before embarking on any course of therapy.</p>
                        <a href="assets/img/resources/downloads/CYV_BiomarkertestingBrochure_Download.pdf" target="_blank" class="btn btn-outline btn-outline-red">Download</a>
                    </div>
                </div>
            </div>

            <div class="row mt-lg-4 resources-content-split">
                <div class="col-lg-6 bg-gray-250 d-flex align-items-center justify-content-center py-5 mx-3 mx-lg-0">
                    <img class="" src="assets/img/resources/lung-advocacy-single-pages.png" alt="">
                </div>
                <div class="col-lg-6 d-flex align-items-center mt-4 mb-5 mt-lg-0 mb-lg-0 px-lg-5">
                    <div>
                        <h4 class="font-sans-serif font-weight-normal mb-3">Brochure For NSCLC Patient Advocacy Groups</h4>
                        <p class="font-weight-light mb-4">This brochure gives an overview of the Clear Your View initiative and how you can join the effort to raise awareness of the importance of complete biomarker testing.</p>
                        <a href="assets/img/resources/downloads/CYV_Lung_AdvocacyBrochure_Download.pdf" target="_blank" class="btn btn-outline btn-outline-red">Download</a>
                    </div>
                </div>
            </div>

            <div class="row mt-lg-4 resources-content-split">
                <div class="col-lg-6 bg-gray-250 d-flex order-lg-2 align-items-center justify-content-center py-5 mx-3 mx-lg-0">
                    <img class="" src="assets/img/resources/crc-advocacy-single-pages.png" alt="">
                </div>
                <div class="col-lg-6 d-flex order-lg-1 align-items-center mt-4 mb-lg-0 px-lg-5">
                    <div>
                        <h4 class="font-sans-serif font-weight-normal mb-3">Brochure for CRC Patient Advocacy Groups</h4>
                        <p class="font-weight-light mb-4">This brochure gives an overview of the Clear Your View initiative and how you can join the effort to raise awareness of the importance of complete biomarker testing.</p>
                        <a href="assets/img/resources/downloads/CYV_CRC_AdvocacyBrochure_Download.pdf" target="_blank" class="btn btn-outline btn-outline-red">Download</a>
                    </div>
                </div>
            </div>

            <!-- Support for Patients -->
            <div class="row mt-6">
                <div class="col-lg-10 offset-lg-1 text-lg-center">
                    <h3 class="font-sans-serif">Support for Patients</h3>
                    <p class="mt-4 mb-0">These patient organizations actively stand behind guideline-complete biomarker testing before treatment and offer valuable information, news, and support.</p>
                </div>
            </div>

            <!-- Gray row content -->
            <div class="row gray-row mt-5">
                <div class="gray-row-content col-12 bg-gray-050 justify-content-between">
                    <div class="gray-row-content-image d-flex align-items-lg-center">
                        <img class="w-100" src="assets/img/resources/alk-positive-logo.png" alt="">
                    </div>
                    <div class="gray-row-content-text">
                        <h5 class="font-sans-serif mb-0">ALK Positive Organization</h5>
                        <p class="mb-0">We are a patient-driven group, providing information, support, empathy, and research funding to change the future of ALK-Positive lung cancer. ALK Positive consists of 1,800+ ALK-positive lung cancer patients and their caregivers in 42+ countries. Through our foundational online support group, we are able to support each other worldwide and share information to become empowered patients-advocates.</p>
                    </div>
                    <div class="gray-row-content-cta d-flex align-items-lg-center">
                        <a class="text-black font-weight-semibold arrow-link" target="_blank" href="https://www.alkpositive.org/treatment-options">
                            <span>Learn more</span>&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24.738" height="25.268" viewBox="0 0 24.738 25.268">
                                <g id="noun_Arrow_16959" transform="translate(-18 40.268) rotate(-90)">
                                    <g id="Group_95" data-name="Group 95" transform="translate(15 18)">
                                        <path id="Path_30060" data-name="Path 30060" d="M39.87,30.82a1.716,1.716,0,0,0-2.419-.22l-8.106,6.758.019-17.638a1.719,1.719,0,0,0-3.437,0l-.019,17.629L17.817,30.6a1.717,1.717,0,0,0-2.418.22,1.716,1.716,0,0,0,.219,2.419l10.916,9.1a1.718,1.718,0,0,0,2.2,0l10.915-9.1a1.717,1.717,0,0,0,.221-2.419Z" transform="translate(-15 -18)" fill="#e71d2b"/>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row gray-row mt-4">
                <div class="gray-row-content col-12 bg-gray-050 justify-content-between">
                    <div class="gray-row-content-image d-flex align-items-lg-center">
                        <img class="w-100" src="assets/img/resources/cca-logo.png" alt="">
                    </div>
                    <div class="gray-row-content-text">
                        <h5 class="font-sans-serif mb-0">Colorectal Cancer Alliance (CCA)</h5>
                        <p class="mb-0">The Colorectal Cancer Alliance is a national nonprofit committed to ending colorectal cancer. Working with our nation of allies, we diligently support the needs of patients and families, caregivers, and survivors; eagerly raise awareness of preventive screening; and continually strive to fund critical research. As allies in the struggle, we are fiercely determined to end colorectal cancer within our lifetime.</p>
                    </div>
                    <div class="gray-row-content-cta d-flex align-items-lg-center">
                        <a class="text-black font-weight-semibold arrow-link" target="_blank" href="https://www.ccalliance.org/">
                            <span>Learn more</span>&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24.738" height="25.268" viewBox="0 0 24.738 25.268">
                                <g id="noun_Arrow_16959" transform="translate(-18 40.268) rotate(-90)">
                                    <g id="Group_95" data-name="Group 95" transform="translate(15 18)">
                                        <path id="Path_30060" data-name="Path 30060" d="M39.87,30.82a1.716,1.716,0,0,0-2.419-.22l-8.106,6.758.019-17.638a1.719,1.719,0,0,0-3.437,0l-.019,17.629L17.817,30.6a1.717,1.717,0,0,0-2.418.22,1.716,1.716,0,0,0,.219,2.419l10.916,9.1a1.718,1.718,0,0,0,2.2,0l10.915-9.1a1.717,1.717,0,0,0,.221-2.419Z" transform="translate(-15 -18)" fill="#e71d2b"/>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row gray-row mt-4">
                <div class="gray-row-content col-12 bg-gray-050 justify-content-between">
                    <div class="gray-row-content-image d-flex align-items-lg-center">
                        <img class="w-75" src="assets/img/resources/fight-logo.png" alt="">
                    </div>
                    <div class="gray-row-content-text">
                        <h5 class="font-sans-serif mb-0">Fight Colorectal Cancer</h5>
                        <p class="mb-0">Fight Colorectal Cancer (Fight CRC) is the leading patient-empowerment and advocacy organization in the United States, providing balanced and objective information on colon and rectal cancer research, treatment, and policy. We are relentless champions of hope, focused on funding promising, high-impact research endeavors, while equipping advocates to influence legislation and policy for the collective good.</p>
                    </div>
                    <div class="gray-row-content-cta d-flex align-items-lg-center">
                        <a class="text-black font-weight-semibold arrow-link" target="_blank" href="https://fightcolorectalcancer.org/">
                            <span>Learn more</span>&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24.738" height="25.268" viewBox="0 0 24.738 25.268">
                                <g id="noun_Arrow_16959" transform="translate(-18 40.268) rotate(-90)">
                                    <g id="Group_95" data-name="Group 95" transform="translate(15 18)">
                                        <path id="Path_30060" data-name="Path 30060" d="M39.87,30.82a1.716,1.716,0,0,0-2.419-.22l-8.106,6.758.019-17.638a1.719,1.719,0,0,0-3.437,0l-.019,17.629L17.817,30.6a1.717,1.717,0,0,0-2.418.22,1.716,1.716,0,0,0,.219,2.419l10.916,9.1a1.718,1.718,0,0,0,2.2,0l10.915-9.1a1.717,1.717,0,0,0,.221-2.419Z" transform="translate(-15 -18)" fill="#e71d2b"/>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row gray-row mt-4">
                <div class="gray-row-content col-12 bg-gray-050 justify-content-between">
                    <div class="gray-row-content-image d-flex align-items-lg-center">
                        <img class="w-75" src="assets/img/resources/global-logo.png" alt="">
                    </div>
                    <div class="gray-row-content-text">
                        <h5 class="font-sans-serif mb-0">Global Color Cancer Association</h5>
                        <p class="mb-0">We advocate for patient-centered policy around the globe to ensure increased awareness and screening, access to quality medical treatments. and help our member organizations collaborate, innovate, and leverage the full potential of effectuating change.</p>
                    </div>
                    <div class="gray-row-content-cta d-flex align-items-lg-center">
                        <a class="text-black font-weight-semibold arrow-link" target="_blank" href="https://www.globalcca.org">
                            <span>Learn more</span>&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24.738" height="25.268" viewBox="0 0 24.738 25.268">
                                <g id="noun_Arrow_16959" transform="translate(-18 40.268) rotate(-90)">
                                    <g id="Group_95" data-name="Group 95" transform="translate(15 18)">
                                        <path id="Path_30060" data-name="Path 30060" d="M39.87,30.82a1.716,1.716,0,0,0-2.419-.22l-8.106,6.758.019-17.638a1.719,1.719,0,0,0-3.437,0l-.019,17.629L17.817,30.6a1.717,1.717,0,0,0-2.418.22,1.716,1.716,0,0,0,.219,2.419l10.916,9.1a1.718,1.718,0,0,0,2.2,0l10.915-9.1a1.717,1.717,0,0,0,.221-2.419Z" transform="translate(-15 -18)" fill="#e71d2b"/>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row gray-row mt-4">
                <div class="gray-row-content col-12 bg-gray-050 justify-content-between">
                    <div class="gray-row-content-image d-flex align-items-lg-center">
                        <img class="w-75" src="assets/img/resources/go2-logo.png" alt="">
                    </div>
                    <div class="gray-row-content-text">
                        <h5 class="font-sans-serif mb-0">GO2 Foundation for Lung Cancer</h5>
                        <p class="mb-0">Dedicated to saving, extending, and improving the lives of those vulnerable, at risk, and diagnosed with lung cancer. Access information on lung cancer detection, diagnosis and treatment. Obtain patient support services, which includes our LungMATCHprogram which provides free, individualized guidance, including referrals for biomarker testing and discussions on treatment and clinical trial options.</p>
                    </div>
                    <div class="gray-row-content-cta d-flex align-items-lg-center">
                        <a class="text-black font-weight-semibold arrow-link" target="_blank" href="https://go2foundation.org/">
                            <span>Learn more</span>&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24.738" height="25.268" viewBox="0 0 24.738 25.268">
                                <g id="noun_Arrow_16959" transform="translate(-18 40.268) rotate(-90)">
                                    <g id="Group_95" data-name="Group 95" transform="translate(15 18)">
                                        <path id="Path_30060" data-name="Path 30060" d="M39.87,30.82a1.716,1.716,0,0,0-2.419-.22l-8.106,6.758.019-17.638a1.719,1.719,0,0,0-3.437,0l-.019,17.629L17.817,30.6a1.717,1.717,0,0,0-2.418.22,1.716,1.716,0,0,0,.219,2.419l10.916,9.1a1.718,1.718,0,0,0,2.2,0l10.915-9.1a1.717,1.717,0,0,0,.221-2.419Z" transform="translate(-15 -18)" fill="#e71d2b"/>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row gray-row mt-4">
                <div class="gray-row-content col-12 bg-gray-050 justify-content-between">
                    <div class="gray-row-content-image d-flex align-items-lg-center">
                        <img class="w-100" src="assets/img/resources/kras-logo.png" alt="">
                    </div>
                    <div class="gray-row-content-text">
                        <h5 class="font-sans-serif mb-0">KRAS Kickers</h5>
                        <p class="mb-0">KRAS Kickers is a non-profit for KRAS oncogene patients, survivors and their loved ones. We strive to inspire comfort, hope, and community to fight in our common battle. KRAS Kickers aims to provide knowledge of resources including clinical trials, education, for cutting edge therapies.</p>
                    </div>
                    <div class="gray-row-content-cta d-flex align-items-lg-center">
                        <a class="text-black font-weight-semibold arrow-link" target="_blank" href="https://www.kraskickers.org">
                            <span>Learn more</span>&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24.738" height="25.268" viewBox="0 0 24.738 25.268">
                                <g id="noun_Arrow_16959" transform="translate(-18 40.268) rotate(-90)">
                                    <g id="Group_95" data-name="Group 95" transform="translate(15 18)">
                                        <path id="Path_30060" data-name="Path 30060" d="M39.87,30.82a1.716,1.716,0,0,0-2.419-.22l-8.106,6.758.019-17.638a1.719,1.719,0,0,0-3.437,0l-.019,17.629L17.817,30.6a1.717,1.717,0,0,0-2.418.22,1.716,1.716,0,0,0,.219,2.419l10.916,9.1a1.718,1.718,0,0,0,2.2,0l10.915-9.1a1.717,1.717,0,0,0,.221-2.419Z" transform="translate(-15 -18)" fill="#e71d2b"/>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row gray-row mt-4">
                <div class="gray-row-content col-12 bg-gray-050 justify-content-between">
                    <div class="gray-row-content-image d-flex align-items-lg-center">
                        <img class="w-100" src="assets/img/resources/lungevity-logo.png" alt="">
                    </div>
                    <div class="gray-row-content-text">
                        <h5 class="font-sans-serif mb-0">LUNGevity Foundation</h5>
                        <p class="mb-0">LUNGevity is the nation’s leading lung cancer organization investing in lifesaving, translational research and providing free support services and education for patients and caregivers. LUNGevity’s Take Aim Initiative is focused on increasing patient and provider awareness about biomarker testing.</p>
                    </div>
                    <div class="gray-row-content-cta d-flex align-items-lg-center">
                        <a class="text-black font-weight-semibold arrow-link" target="_blank" href="https://lungevity.org/for-patients-caregivers/lung-cancer-101/diagnosing-lung-cancer/biomarker-testing">
                            <span>Learn more</span>&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24.738" height="25.268" viewBox="0 0 24.738 25.268">
                                <g id="noun_Arrow_16959" transform="translate(-18 40.268) rotate(-90)">
                                    <g id="Group_95" data-name="Group 95" transform="translate(15 18)">
                                        <path id="Path_30060" data-name="Path 30060" d="M39.87,30.82a1.716,1.716,0,0,0-2.419-.22l-8.106,6.758.019-17.638a1.719,1.719,0,0,0-3.437,0l-.019,17.629L17.817,30.6a1.717,1.717,0,0,0-2.418.22,1.716,1.716,0,0,0,.219,2.419l10.916,9.1a1.718,1.718,0,0,0,2.2,0l10.915-9.1a1.717,1.717,0,0,0,.221-2.419Z" transform="translate(-15 -18)" fill="#e71d2b"/>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row gray-row mt-4">
                <div class="gray-row-content col-12 bg-gray-050 justify-content-between">
                    <div class="gray-row-content-image d-flex align-items-lg-center">
                        <img class="w-75" src="assets/img/resources/paltown-logo.png" alt="">
                    </div>
                    <div class="gray-row-content-text">
                        <h5 class="font-sans-serif mb-0">PALTOWN Development Foundation</h5>
                        <p class="mb-0">PALTOWN currently supports over 5600 patients and caregivers in its exclusive online community COLONTOWN, a unique model of patient-led empowerment, with over 120 private “neighborhoods” for patients and caregivers to gain the emotional and psychosocial support they need, as well as the latest science-based data to inform their care and treatment.</p>
                    </div>
                    <div class="gray-row-content-cta d-flex align-items-lg-center">
                        <a class="text-black font-weight-semibold arrow-link" target="_blank" href="https://paltown.org/">
                            <span>Learn more</span>&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24.738" height="25.268" viewBox="0 0 24.738 25.268">
                                <g id="noun_Arrow_16959" transform="translate(-18 40.268) rotate(-90)">
                                    <g id="Group_95" data-name="Group 95" transform="translate(15 18)">
                                        <path id="Path_30060" data-name="Path 30060" d="M39.87,30.82a1.716,1.716,0,0,0-2.419-.22l-8.106,6.758.019-17.638a1.719,1.719,0,0,0-3.437,0l-.019,17.629L17.817,30.6a1.717,1.717,0,0,0-2.418.22,1.716,1.716,0,0,0,.219,2.419l10.916,9.1a1.718,1.718,0,0,0,2.2,0l10.915-9.1a1.717,1.717,0,0,0,.221-2.419Z" transform="translate(-15 -18)" fill="#e71d2b"/>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row gray-row mt-4">
                <div class="gray-row-content col-12 bg-gray-050 justify-content-between">
                    <div class="gray-row-content-image d-flex align-items-lg-center">
                        <img class="w-100" src="assets/img/resources/colontown-logo.png" alt="">
                    </div>
                    <div class="gray-row-content-text">
                        <h5 class="font-sans-serif mb-0">COLONTOWN</h5>
                        <p class="mb-0">Founded by Erika Hanson Brown, a stage III CRC patient, is the first patient-powered disease specific community under the umbrella of the PALTOWN Development Foundation, a 501(c)3 dedicated to addressing information needs and social isolation through training, technology, and purpose-driven community leadership. PALTOWN is committed to expanding its unique model of online peer-to-peer health communities to provide hope and empowerment to patient leaders in the CRC space and across other disease states.</p>
                    </div>
                    <div class="gray-row-content-cta d-flex align-items-lg-center">
                        <a class="text-black font-weight-semibold arrow-link" target="_blank" href="https://colontown.org/">
                            <span>Learn more</span>&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24.738" height="25.268" viewBox="0 0 24.738 25.268">
                                <g id="noun_Arrow_16959" transform="translate(-18 40.268) rotate(-90)">
                                    <g id="Group_95" data-name="Group 95" transform="translate(15 18)">
                                        <path id="Path_30060" data-name="Path 30060" d="M39.87,30.82a1.716,1.716,0,0,0-2.419-.22l-8.106,6.758.019-17.638a1.719,1.719,0,0,0-3.437,0l-.019,17.629L17.817,30.6a1.717,1.717,0,0,0-2.418.22,1.716,1.716,0,0,0,.219,2.419l10.916,9.1a1.718,1.718,0,0,0,2.2,0l10.915-9.1a1.717,1.717,0,0,0,.221-2.419Z" transform="translate(-15 -18)" fill="#e71d2b"/>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!-- Contact -->
        <div class="bg-yellow">
            <div class="container">
                <div class="row py-5">
                    <div class="col-xs-10 col-sm-9 col-lg-5">
                        <h3 class="font-sans-serif mb-0">For more information about the Clear Your View Initiative, contact:</h3>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5 mt-4 mt-lg-0">
                        <p class="font-weight-semibold mb-0">Government Affairs & Patient Advocacy</p>
                        <p><a href="mailto:advocacy@ClearYourView.org" class="text-black">advocacy@ClearYourView.org</a></p>

                        <p class="font-weight-semibold mb-0">Media</p>
                        <p class="mb-0"><a href="mailto:media@ClearYourView.org" class="text-black">media@ClearYourView.org</a></p>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- "Resources" modal -->
    <div class="modal form-modal fade" id="resourcesModal" tabindex="-1" role="dialog" aria-labelledby="resourcesModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="container px-4 pb-5">
                    <div class="col-md-10 offset-md-1">
                        <h4 class="font-weight-semibold text-center" id="resourcesModalTitle">Download Resources Now</h4>
                    </div>
                    <div class="modal-body bg-white mt-4  px-4 px-md-5  py-5">

                        <form>
                            <div class="form-row form-group">
                                <div class="col">
                                    <label for="exampleInputEmail1">First name*</label>
                                    <input type="text" class="form-control" id="first-name" placeholder="">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail1">Last name*</label>
                                    <input type="text" class="form-control" id="last-name" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email*</label>
                                <input type="email" class="form-control" id="email" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Specialty*</label>
                                <input type="email" class="form-control" id="specialty" placeholder="">
                            </div>

                            <p class="mt-3 mb-0">* All fields are required</p>

                            <button type="button" class="btn btn-sm btn-primary mt-4 px-6">Download now</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

<!--     <script>
        $( document ).ready(function() {
            $("#resourcesModal").modal("show");
        });
    </script> -->

{% import 'macros/footer.njk' as footer -%}
{{footer.footer('bg-dark', 'text-white')}}
{% endblock %}
