{% macro nav(bgColor, navbarColor, activePage) %}
<header class="site-header fixed-top ">
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <div class="col-12">

        <!-- Navbar -->
        <nav class="navbar main-nav navbar-expand-lg {{navbarColor}}" aria-label="Main navigation">

            <a href="/" class="navbar-brand d-inline-flex">
                <img src="assets/img/logo.svg" alt="Clear Your View">
            </a>

            <button class="navbar-toggler hamburger hamburger--spin" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">

                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>

            </button>
  
            <div class="collapse navbar-collapse text-uppercase" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item">
                        <a href="lung.html" class="nav-link{%if activePage == 'lung' %} active{% endif %}">Lung Cancer</a>
                    </li>

                    <li class="nav-item">
                        <a href="colo.html" class="nav-link{%if activePage == 'colo' %} active{% endif %}">Colorectal Cancer</a>
                    </li>

                    <li class="nav-item">
                        <a href="data.html" class="nav-link{%if activePage == 'data' %} active{% endif %}">Data</a>
                    </li>

                    <li class="nav-item">
                        <a href="resources.html" class="nav-link{%if activePage == 'resources' %} active{% endif %}">Resources</a>
                    </li>

                    <li class="nav-item">
                        <a href="news.html" class="nav-link{%if activePage == 'news' %} active{% endif %}">News & Media</a>
                    </li>

                    <li class="nav-item">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#commitToTestModal">Commit to Test</button>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</header>

<!-- "Commit to test" modal -->
<div class="modal form-modal fade" id="commitToTestModal" tabindex="-1" role="dialog" aria-labelledby="commitToTestModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="container px-4 pb-5">
                <div class="col-md-10 offset-md-1">
                    <h4 class="font-weight-semibold text-center" id="commitToTestModalTitle">Join thousands of oncologists and clear your view with complete biomarker testing.</h4>
                </div>
                <div class="modal-body bg-white mt-4  px-4 px-md-5  py-5">

                    <form>
                        <div class="form-row form-group">
                            <div class="col">
                                <label for="exampleInputEmail1">First name*</label>
                                <input type="text" class="form-control" id="first-name" placeholder="">
                            </div>
                            <div class="col">
                                <label for="exampleInputEmail1">Last name*</label>
                                <input type="text" class="form-control" id="last-name" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email*</label>
                            <input type="email" class="form-control" id="email" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Specialty*</label>
                            <input type="email" class="form-control" id="specialty" placeholder="">
                        </div>

                        <p class="mt-3 mb-0">* All fields are required</p>

                        <button type="button" class="btn btn-sm btn-primary mt-4 px-6">Send</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script>
    $( document ).ready(function() {
        $("#commitToTestModal").modal("show");
    });
</script> -->

{% endmacro %}
