{% macro nav(bgColor, navbarColor, activePage) %}
<header class="site-header fixed-top ">
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <div class="col-12">

        <!-- Navbar -->
        <nav class="navbar main-nav navbar-expand-lg {{navbarColor}}" aria-label="Main navigation">

            <a href="/" class="navbar-brand d-inline-flex">
                <img src="assets/img/logo.svg" alt="Clear Your View">
            </a>

            <button class="navbar-toggler hamburger hamburger--spin" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">

                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>

            </button>
  

            <div class="collapse navbar-collapse text-uppercase" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item">
                        <a href="lung.html" class="nav-link{%if activePage == 'lung' %} active{% endif %}">Lung Cancer</a>
                    </li>

                    <li class="nav-item">
                        <a href="colo.html" class="nav-link{%if activePage == 'colo' %} active{% endif %}">Colorectal Cancer</a>
                    </li>

                    <li class="nav-item">
                        <a href="data.html" class="nav-link{%if activePage == 'data' %} active{% endif %}">Data</a>
                    </li>

                    <li class="nav-item">
                        <a href="resources.html" class="nav-link{%if activePage == 'resources' %} active{% endif %}">Resources</a>
                    </li>

                    <li class="nav-item">
                        <a href="news.html" class="nav-link{%if activePage == 'news' %} active{% endif %}">News & Media</a>
                    </li>

                    <li class="nav-item">
                        <a href="thank-you.html" class="btn btn-primary btn-sm">Commit to Test</a>
                    </li>


                </ul>
            </div>
        </nav>
    </div>
</header>

{% endmacro %}
